@charset "utf-8";/* CSS Document */

.page-header{
	margin:0;
	background:#f5f5f5;
	border-bottom:1px solid #ccc;
	padding-left:30px;
	padding-bottom:0;
}
.analysis{
	border-top:1px solid #e3e3e3;
}
.page-header h1{
	color:#333;
	font-size:14px;
	margin:0;
	height:40px;
	line-height:40px;
}
.list-inline{
	margin-left:30px;
}
.list-inline li{
	width:95px;
	height:95px;
	text-align:center;
	padding:10px 0;
}
.list-inline li a{
	font-size:14px;
	color:#333;
}
.list-inline li a .icon{
	font-size:35px;
	display:block;
}
.addto{
	display:block;
	width:200px;
	height:30px;
	background-color:#26ade4;
	border-radius:4px;
	text-align:center;
	line-height:30px;
	color:#fff !important;
	font-size:14px;
	margin:15px 30px;
}
.addto:hover{
	background-color:#1c96c8;
}









































































