@charset "utf-8";/* CSS Document */


.number {
    width: 100%;
    text-align: center;
}
.pagination {
    margin-top: 10px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #26ade4;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 14px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #6d6d6d;
    text-decoration: none;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}
.hurf {
    width: 100%;
    height: 64px;
    padding: 15px 15px;
}
.hurf .input-group {
    float: left;
}
.btn-info {
    color: #9b9b9b;
    background-color: #f5f5f5;
    border-color: #cccccc
}
.hurf .right{
	float:right;
	color:#717171;
	margin-left:15px;
}
.hurf .right i{
	margin-right:8px;
}
.hurf .right:hover{
	color: #26ade4;
	background-color: #fff;
    border-color: #26ade4;
}
.btn {
    height: 34px;
}
.row{
	margin:0 0 0 15px;
}
.col-sm-3{
	width:25%;
}
.col-sm-3 .defined{
	height:170px;
	background:#f5f5f5;
	margin-right:24px;
	margin-bottom:24px;
}
.mr{
	margin-right:0;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	display:inline-block;
	float:left;
}
.img-responsive, .thumbnail>img{
	margin-top:10px;
	width:140px;
	height:150px;
	margin-left:5px;
}
.col-sm-3 .defined h4{
	font-size:16px;
	color:#333;
	margin-left:165px;
	display:block;
	padding-top:10px;
}
.col-sm-3 .defined span{
	display:block;
	margin-left:165px;
	font-size:14px;
	color:#757575;
	letter-spacing:1px;
}
.col-sm-3 .defined a{
	display:inline-block;
	margin-left:20px;
	padding:3px 15px;
	background:#26ade4;
	margin-top:25px;
	border-radius:4px;
	font-size:14px;
	color:#fff;
}
.col-sm-3 .defined a:hover{
	background:#1c96c8;
	transition:all .4s;
}

































