@charset "utf-8";/* CSS Document */
a:visitied{
	text-decoration:none;
	color:inherit;
}
a{
	text-decoration:none;
}
.area1{
	border-bottom:1px solid #26ade4;
	width:100%;
}
h3{
	font-size:14px;
	color:#333;
	margin-left:30px;
}
h3 a{
	color:#2d86d2 !important;
	font-size:14px;
	display:inline-block;
	margin-left:15px;
}
.entry{
	margin-left:30px;
	color:#666;
	font-size:14px;
}
.entry a{
	color:#2d86d2 !important;
	font-size:14px;
	display:inline-block;
	margin-left:15px;
}
.icon-riqi{
	margin-right:10px;
}
.area2{
	border-bottom:1px solid #26ade4;
	padding-left:30px;
	margin-top:10px;
}
.list-inline li{
	padding-top:10px;
	width:95px;
	height:95px;
	text-align:center;
}
.list-inline li a{
	font-size:14px;
	color:#333;
}
.list-inline li a .icon{
	font-size:35px;
	display:block;
}
.addto{
	display:block;
	width:220px;
	height:30px;
	background-color:#26ade4;
	margin-top:10px;
	border-radius:4px;
	text-align:center;
	line-height:30px;
	color:#fff !important;
	font-size:14px;
	margin-bottom:20px;
}
.addto:hover{
	background-color:#1c96c8;
}
.list-group{
	border-bottom:1px solid #26ade4;
	padding-left:30px;
	margin-bottom:0;
	padding-bottom:15px;
}
.list-group-item{
	border:none;
	font-size:14px;
	color:#666;
	padding:5px 0px;
}
.icon-4{
	font-size:26px !important;
	margin-right:8px;
}
.list-group-item a{
	color:#fff;
	margin-left:20px;
	display:inline-block;
	border-radius:4px;
	background:#26ade4;
	padding:4px 27px;
	font-size:12px;
}
.list-group-item a:hover{
	transition:all .2s;
	background:#1c96c8;
}
.icon-chaxun{
	font-size:26px !important;
	margin-right:8px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background:none;
	color:#333;
}
.see{
	display:block;
	margin-left:50px;
	font-size:14px;
	color:#666 !important;
}
.see:hover{
	color:#333 !important;
}
.bottom{
	border-bottom:none;
}
.icon-caretright{
	font-size:20px !important;
	color:#666;
	margin-right:5px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	border-left:none;
}