@charset "utf-8";
.form-group{	
	clear:both;
	margin:0px;
	margin-top:10px;
}
label{
	width:16%;
	font-size:14px;
	color:#FFF;
	line-height:34px;
	text-align:left;
}
.form-control {
    display: block;
    width:84%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.form-control-1 {
    display: block;
    width:40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	border-radius: 4px;
    border: 1px solid #ccc;
	float:left;
}
.btn-default{
	width:40%;
	background:#26ade4;
	margin-left:16%;
	color:#fff;
	border:none;
	transition:all .3s linear;
}
.btn-default:hover{
	background:#086c94;
	color:#FFF;
}
.form-group img{
	width:95px !important;
	height:34px !important;
	margin-left:15px;	
}


