@charset "utf-8";
a:hover{ text-decoration:none;}
.hurf{
	width:100%;
	height:64px;
	padding:15px 15px;
}
.hurf .input-group{
	float:left;
}
.btn{
	height:34px;
}
.btn-info {
    color: #9b9b9b;
    background-color: #f5f5f5;
    border-color: #cccccc;
}
.hurf .right{
	float:right;
	color:#717171;
	margin-left:15px;
}
.hurf .right i{
	margin-right:8px;
}
.hurf .right:hover{
	color: #26ade4;
	background-color: #fff;
    border-color: #26ade4;
}
thead{
	background:#f5f5f5;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	height:42px;
	padding:0px 15px;
	line-height:42px;
	vertical-align:middle;
	border:none;
}
.number{
	width:100%;
	text-align:center;
}
.pagination{
	margin-top:10px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: #26ade4;
}
.pagination>li>a, .pagination>li>span{
	position: relative;
    float: left;
    padding: 6px 14px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #6d6d6d;
    text-decoration: none;
    background-color: #fff;
    border:none;
	border-radius:4px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color:transparent;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color:#f9f9f9;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fff;
}
.nav-tabs{
	padding:0px 15px;
}
.nav-tabs>li.hover>a, .nav-tabs>li.hover>a:hover, .nav-tabs>li.hover>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
	border-top:1px solid #156c8f;
}
.area1{
	padding:30px;
}
label {
    display: inline-block;
	width:8%;
    margin-bottom:0px;
    font-weight:300;
	float:left;
	font-size:16px;
	line-height:34px;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    display: block;
	width:30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.hight{
	height:120px;	
}
.release{
	width:150px;
	height:34px;
	background:#f5f5f5;
	border:1px solid #ccc;
	color:#666;
	transition:all .3s linear;
	margin-left:8%;
}
.release:hover{
	background:#26ade4;
	border:1px solid #26ade4;
	color:#FFF;
}
.form-group h5{
	margin-left:8%;
	color:#8f8f8f;
}
td span{
	width:19px;
	height:18px;
	overflow:hidden;
	margin-top: 12px;
	float:left;
	margin-right:6px;
}
.folder{
	background:url(../images/folder.png);
}
.compress{
	background:url(../images/compress.png);
}
.file{
	background:url(../images/file.png);
}
.form{
	background:url(../images/form.png);
}

.page-header {
	height:50px;
	background:#f5f5f5;
    padding-bottom: 0px;
	padding-left:15px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}
.page-header h5{
	line-height:50px;
    margin: 0px;
}
.page-header i{
	margin-right:6px;
}
.disk{
	width:280px;
	height:80px;
	background:#FFF;
	cursor:pointer;
	border:1px solid #FFF;
	transition:all .3s linear;
	margin-top:15px;
	margin-left:15px;
	float:left;
}
.disk img{
	width:90px;
	height:78px;
	overflow:hidden;
	float:left;
}
.disk h5{
	margin-top: 8px;
    margin-bottom:8px;
}
.disk h4{
	font-size:14px;
	margin-top: 18px;
    margin-bottom:8px;
}
.disk span{
	color:#b1b1b1;
}
.disk:hover{
	background:#fcfcfc;
	border:1px solid #e5ecf0;
}
.progress {
    height:15px;
    margin-bottom: 6px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar{
	background-color: #26ade4;
}
.newsbox{
	width:300px;
	height:150px;
	margin:0 auto;
	margin-top:200px;
	text-align:center;
}
.newsbox i{
	color:#26ade4;
	font-size:40px;
}
.newsbox h1{
	color:#26ade4;
	font-size:20px;
	margin:0px;
}
.newsbox p{
	color:#666;
	font-size:14px;
	margin:6px 0px 10px 0px;
}
.newsbox a{
	border:1px solid #666;
	border-radius:4px;
	color:#666;
	font-size:14px;
	padding:4px 10px;
	display:block;
	width:100px;
	margin:0 auto;
	margin-top:6px;
}
.newsbox a:hover{
	border:1px solid #26ade4;
	color:#26ade4;
	
}