@charset "utf-8";/* CSS Document */
.hurf {
    width: 100%;
    height: 64px;
    padding: 15px 15px;
}
.hurf .input-group {
    float: left;
}
.btn-info {
    color: #9b9b9b;
    background-color: #f5f5f5;
    border-color: #cccccc
}
.hurf .right{
	float:right;
	color:#717171;
	margin-left:15px;
}
.hurf .right i{
	margin-right:8px;
}
.hurf .right:hover{
	color: #26ade4;
	background-color: #fff;
    border-color: #26ade4;
}
.btn {
    height: 34px;
}
.number {
    width: 100%;
    text-align: center;
}
.pagination {
    margin-top: 10px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #26ade4;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 14px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #6d6d6d;
    text-decoration: none;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}
.col-sm-3{
	width:20%;
	margin-bottom:20px;
	text-align:center;
}
.row{
	margin:0 15px;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	display:inline-block;
	width:250px;
	height:130px;
}
.col-sm-3 h4{
	text-align:center;
	line-height:40px;
	width:250px;
	height:40px;
	background-color:#f5f5f5;
	margin:0;
	font-size:14px;
	color:#333;
	cursor:pointer;
}
.col-sm-3 h4:hover{
	color:#000;
}

































































