@charset "utf-8";
/* CSS Document */
@import url("http://cdn.cqwo.com/css/struts.css");
@import url("layout.css");
a:hover{
	text-decoration:none;
}
#contenr {
    width: 100%;
    height: 100%;
}
#contenr .contenr {
    width: 100%;
	min-height:650px;
    background: #FFF;
    float: left;
}

.name{
	display:block;
	float:left;
	margin-left:15px;
}
.name h1{
	font-size:24px;
	color:#FFF;
	font-family:"锐字逼格青", "锐字逼格青春体简2.0";
	margin:16px 0px 8px 0px;
}
.uers{
	width:190px;
	height:26px;
	background-color:#1c8bb8;
	border-radius:20px;
	padding:0px 15px;
	line-height:26px;
	color:#c8efff;
}
.uers a i{
	vertical-align:middle;
	margin-right:6px;
}
.uers a{
	color:#c8efff;
}
.news{
	float:right;
	color:#c8efff;
}
.news span{
	background:#e10000;
	width:16px;
	height:16px;
	color:#FFF;
	vertical-align:middle;
	border-radius:20px;
	text-align:center;
	line-height:16px;
	margin-top:5px;
	margin-left:6px;
	display:block;
	float:right;
}
.col-xs-12{
	padding:0px;
}
.panel {
    margin-bottom:0px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius:0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-title i{
	margin-right:10px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #26ade4;
    border-color: #26ade4;
	border-left:2px solid #156c8f;
}
.col-sm-9{
	width:100%;
	height:100%;
	padding:0px;
}
.title{
    width: 100%;
	height:40px;
	border-bottom:1px solid #e3e3e3;
}
.title .position{
	line-height:40px;
	margin-left:30px;
	display:inline-block;
}
.title .position img{
	margin-right:6px;
}
.title .position a{
	font-size:14px;
	color:#999;
	margin-right:5px;
}
.title .position a:hover{
	color:#333;
}
.title .position span{
	font-size:14px;
	color:#999;
}
.title .hope{
	float:right;
	line-height:40px;
	margin-right:20px;
}
.title .hope a{
	font-size:14px;
	color:#999;
}
.title .hope a:hover{
	color:#333;
}
.title .hope span{
	font-size:14px;
	color:#999;
	margin:0 5px;
}






















